name: Lint
on:
  pull_request:
    branches: [v0]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: v0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
